* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.colorbackground_blue {
    background: #44475312 !important;
}

.colorbackground_silver {
    background: #44475312 !important;
}

.leftBox {
    height: 100vh;
}

.boxInfo {
    justify-content: space-between;
}

.iconMes span svg{
    display: none;
    font-size: 11px;
}

.boxReceiveMessage:hover .iconMes span svg{
    display: block;
}
.boxMyMessage:hover .iconMes span svg{
    display: block;
}

.optionMess{
    display: flex;
    align-items: center;
    opacity: 0.6;
    visibility: hidden;
}

.showPop:hover .optionMess{
    visibility: visible;
}

.cpmBoxInfo {
    min-height: 80px;
    max-height: auto;
    background: #e6e6e8;
    padding: 14px 10px 0px 14px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.imgBoxInfo {
    height: 50px !important;
    width: 50px !important;
    overflow: visible !important;
}

.imgBoxInfo > .statusIndicator {
    position: absolute;
    right: -0.25em;
    bottom: -0.25em;
}

.elemtfloat {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cmpListGroup ul {
    padding: 0px;
    overflow: auto;

}

.cmpListGroup ul li {
    color: rgba(0, 0, 0, 0.87);
}

.cmpListGroup ul li div span {
    color: rgba(0, 0, 0, 0.87);
    font-size: 90%;
}

.cpmContainsMiddle_BoxChat {
    display: flex;
    flex-direction: column;
}

.boxInputChat {
    align-self: flex-end;
    border-top: 1px solid #e4dfdf;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.boxContainsMessages {
    overflow: auto;
    height: 70vh;
    padding-top: 70px;
}

.inputTextField {
    width: 80%;
    float: left;
    padding-left: 10px;
}

.boxBtnSendMessage {
    width: 15%;
    float: left;
    background: #3f51b50a;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxMessage {
    padding: 10px;
}

.boxAvatarMessage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxReceiveMessage {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.boxMyMessage {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.disable {
    visibility: hidden;
    display: none;
}

.boxLogin {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.textUser {
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    padding-left: 10px;
}

.textLabel {
    color: #E8EAF6;
}

.cursor {
    cursor: pointer;
}

.iconUp {
    padding-left: 10px;
}

.hidden {
    display: none;
}

.scrollbar {
    display: inline-block;
    vertical-align: top;
    height: 80vh;
    overflow: auto;
}

.imgCover {
    height: 100% !important;
    width: auto !important;
}

@media (min-width: 960px) {

}

@media (min-width: 600px) {

}

.cmpListGroup ul li {
    padding-left: 10px;
    padding-right: 5px;
}

.listfriends {
    padding-left: 10px !important;
    padding-right: 5px !important;
}

.avatart {
    margin-right: 5px !important;
}
.listfriends svg{
    font-size: 8px;
}
.username {
    padding: 0px 5px !important;
}

.status {
    font-size: 15px !important;
}

.cmpListGroup ul li div:last-child {
    padding-left: 7px;
    padding-right: 5px;
}

.titleHeader {
    color: rgb(63, 81, 181) !important;
}

.group:hover {
    background: rgba(0, 0, 0, 0.08);
}